<script>
$(function() {
  $("#searchInput").focus();
});
</script>
<div class="search-people-container">
          <div class="search-green-line"></div><!--search green line-->
          <ul class="nav nav-tabs" role="tablist">
                <li class="active" id="search-people-tab"><a href="#people" aria-controls="home" role="tab" data-toggle="tab">Personas</a></li>
                <li id="search-virtue-tab"><a href="#virtue" aria-controls="profile" role="tab" data-toggle="tab">Habilidades</a></li>
          </ul>
          <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="people"><%= render partial: "search_people" %></div>
              <div role="tabpanel" class="tab-pane" id="virtue"><%= render partial: "search_virtue"%></div>
          </div>
</div>


