 Has endorsed <span id="link-own-profile"><%= link_to 'you', :controller => "profile", :action => "index", :subject => current_user.id %></span> for <span id="endorsement-notification"><%= t.subtitle.split.last%></span>
