Te ha valorado a <span id="link-own-profile"><%= link_to 'ti', :controller => "profile", :action => "index", :subject => current_user.id %></span> como <span id="endorsement-notification"><%= t.subtitle.split.last%></span>
