ha valorado a  <%= link_to " "+User.find_by(id: t.follower_id).first_name+" "+User.find_by(id: t.follower_id).last_name,{:controller => "profile", :action => "index", :subject => t.follower_id},{style: "color:blue !important",'data-no-turbolink' => true} %> como <span style="color:orange"><%= " "+t.subtitle.split.last %></span>
