<!DOCTYPE html>
<html>


<div class="profile">

    <div class="attributes-display">
      hola
    </div>

    <div class="picture-row">
          <div class="addVirtue-btn">
          Add Virtue
          </div>
                  <%= image_tag (@notifications.image.url(:thumb)) %>

          <div class="follow-btn">
          +Follow
          </div>
    </div>
    <div class="user-name">
      </br>Alejandro Cubillan</br>
      Online Marketing</br>
      @Diageo

    </div>
<%= text_area :description, :cols => "10", :rows => "10" %>

</div>





</html>